<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,52},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,112},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>icon_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,90},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>icon_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,112},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>icon_sward.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,90},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>key1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,146},{6,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>key2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,134},{6,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>key3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,134},{6,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>panel_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,531},{125,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,400}}</string>
                <key>sourceSize</key>
                <string>{125,400}</string>
            </dict>
            <key>panel_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{390,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,400}}</string>
                <key>sourceSize</key>
                <string>{390,400}</string>
            </dict>
            <key>panel_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,400},{125,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,400}}</string>
                <key>sourceSize</key>
                <string>{125,400}</string>
            </dict>
            <key>pixel_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,52},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,4},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{456,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d697236eba670d3faeb4f3db95f9bb67:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
